body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  header {
    background-color: dodgerblue;
    color: white;
    padding: 10px;
  }

  h1, h2, h3 {
    margin: 0.5em 0;
  }

  section {
    padding: 20px;
  }

  .uno {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: gainsboro;

    h2 {
      font-size: 30px;
    }
  }

  .uno div {
    max-width: 400px;
  }

  .cara {
    width: 150px;
    border-radius: 10px;
  }

  .dos {
    background-color: gainsboro;
    color: #303030;
  }

  .tres {
    background-color: #303030;
    color: gainsboro;
  }

  .aptitudes {
    margin-top: 10px;
  }

  .tecnologias {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 10px;
  }

  .tech {
    width: 50px;
    height: auto;
  }

  .proyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .card {
    background-color: gainsboro;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
    text-align: left;
    color: #303030;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  a {
    display: inline-block;
    margin-top: 10px;
    color: blue;
  }
  form {
    display: inline-block;
    background-color: gainsboro;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  input, textarea {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  textarea {
    height: 100px;
  }

  button {
    padding: 10px 20px;
    background-color: transparent;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #0066cc;
  }